<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.file.mapper.ParkDocumentMapper">

    <select id="selectByParkId" resultType="com.park.file.entity.ParkDocument">
        SELECT * FROM park_document WHERE park_id = #{parkId} ORDER BY create_time DESC
    </select>

    <delete id="deleteByParkId">
        DELETE FROM park_document WHERE park_id = #{parkId}
    </delete>

</mapper>
